<!--The content below is only a placeholder and can be replaced.-->
<div >
	<h3>Calendar!</h3>
	<div class="calendar">
		<div class="top">
			<h4>note</h4>
			<div class="year">2017</div>
		</div>
	  <div class="monthes">
			<div *ngFor="let m of dateIn.monthes">{{m}}</div>	
		</div>
		<div class="days">
			<div *ngFor="let d of dateIn.days">{{d}}</div>
		</div>
		<div class="daysNbr">
			<div *ngFor="let d of dateIn.days;let i =index">{{i}}</div>
		</div>
		<div class="daysNbr">
			<div *ngFor="let d of dateIn.days;let i =index">{{i}}</div>
		</div>
		<div class="daysNbr">
			<div *ngFor="let d of dateIn.days;let i =index">{{i}}</div>
		</div>
		<div class="daysNbr">
			<div *ngFor="let d of dateIn.days;let i =index">{{i}}</div>
		</div>
		<div class="daysNbr">
			<div *ngFor="let d of dateIn.days;let i =index">{{i}}</div>
		</div>
	</div>
</div>
